.screenshot {
  padding-top:30px;
  height: 200px;
  width: 300px;
}

.tile {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
	margin-top: 25px;
	text-align: center;
	border: 2px solid #E13A63;
	box-sizing: border-box;
}

.tile img	{
	display: block;
	margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .project {
    width: 100%;
    float: left;
  }
  .tile {
  	display: block;
    width: 100%;
    border: none;
    border-top: 1px solid black;
  }
  #headshot {
    width: 90%;
    display: block;
    height: 90%;
  }
  div {
    font-size: 1.1em;
  }
  .screenshot {
    width: 40%;
    height: 40%;
  }
}


@media screen and (max-width: 1100px) and (min-width: 600px) {
  .project {
    width: 100%;
    float: left;
  }
  .tile {
  	display: block;
    width: 100%;
    border: none;
    border-top: 1px solid black;
  }
  #headshot {
    width: 60%;
    height: 60%;
    display: block;
    }
  div {
      font-size: 1.1em;
    }
  .screenshot {
    width: 40%;
    height: 40%;
  }
    /*having some problems with centering the image  */
}
